.dashboard {
	width: 800px !important;
}
.boxLayout {
	padding-top: 20px;
}
.hr {
	margin: 0 auto;
	width: 600px;
	height: 70px;
	background: url(../images/hr.jpg) no-repeat left bottom;
	margin-bottom: 50px;
}

/* 
	nav bar
*/
.dashboard-nav {
	width: 704px;
	margin: 50px auto 0 auto;
	background-color: #fff;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #d9d9de;
}
.dashboard-nav ul {
	margin: 0;
	padding: 0;
}
.dashboard-nav ul li {
	border-right: 1px solid #d9d9de;
	display: inline-block;
	height: 50px;
	margin-left: -4px;
}
.dashboard-nav li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
}
.dashboard-nav .active {
	background-color: #f4b81a;
}
.dashboard-nav .active a{
	color: white;
}
.dashboard-nav li:first-child {
	margin-left: 0 !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.dashboard-nav a {
	color: #000;
	padding: 13px 30px;
	display: inline-block;
}
.dashboard-nav li:hover {
	background-color: #f9d472;
}
.dashboard-nav li:hover a{
	background-color: #f9d472;
	color: #fff;
}


/*****************
 *   Dashboard   *
 *****************/

/* 
	files and links
*/
.fileLinks .icon{
	display: inline-block;
	margin-right: 10px;
}
.fileLinks .links a {
	color: #000;
}
.fileLinks .links a:hover {
	color: #ff7a19;
}



/* 
	join request 
*/
.request .commentsBox {
	border: none;
	margin-bottom: 10px;
}
.request .panel-body {
	display: inline-block !important;
}
.apply {
	color: #999;
	font-size: 13px;
}
.rejectReason {
	width: 100% !important;
	resize:vertical !important;
}


/* 
	Post
*/
.post {
	background-color: transparent;
}
.post .froala-editor {
	height: 35px !important;
}
.posts {
	/*display: none;*/
	border: 1px solid #eee;
	background-color: #f9fafb;
	margin-bottom: 20px;
}
.nameDate {
	-webkit-font-smoothing: antialiased;
	font-size: 17px;
	padding-bottom: 10px;
}
.comments {
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	color: #4c4c4c;
	font-size: 15px;
	line-height: 30px;
}







/********************
 *   Edit Project   *
 ********************/

.editProject {
	width: 750px;
}

/* 
	form layout
*/
.editProject .form-group, .assignRoles .form-group {
	margin-bottom: 30px !important;
}
.editProject .control-label {
	margin-left: 60px !important;
}
.editProject .col-sm-10, .assignRoles .col-sm-10{
	width: 65% !important;
}
.editProject .control-label {
	font-size: 18px !important;
	font-weight: 500 !important;
	letter-spacing: 1px;
}
.editProject .form-control {
	height: 45px !important;
}
.editProject p, .assignRoles p {
	margin: 5px 5px 0 0!important;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
}
.editProject .pitchTextarea {
	height: 80px !important;
	resize: none;
}


/*
	Upload Image
*/

.editProject .uploadImage {
	height: 100px;
}
.editProject .fileUpload {
	color: #fff !important;
	background-color:  #60257d!important;
	position: relative;
	top: -5px;
	overflow: hidden;
	margin: 10px;
}
.editProject .fileUpload:hover {
	background-color: #3c0059 !important;
}
.editProject .fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.editProject #uploadFile {
	height: 35px !important;
}

/* video */
.editProject .video {
	margin-top: 20px !important;
}

/*
	Description
*/
.editProject .description {
	margin: 0 auto !important;
	width: 660px !important;
}
.editProject .description label {
	font-weight: 500 !important;
	-webkit-font-smoothing: antialiased;
	font-size: 27px !important;
	margin-bottom: -10px !important;
}
.editProject .description .form-control-static {
	font-size: 16px !important;
	margin-bottom: 20px !important;
}

/* 
	save /preview button 
*/
.save {
	margin: 50px 45px 0 0;
}
.save button{
	font-size: 18px !important;
	width: 110px !important;
	height: 40px !important;
}




/********************
 *   Team members   *
 ********************/
.teamMembers {
	width: 815px !important;
	overflow: hidden;
}
.teamMembers .left {
	width: 210px !important;
}
.teamMembers .rightPanel {
	width: 540px !important;
}

/*
	Nav bar (left panel)
*/
.teamMembers .teamNav {
	padding: 20px 20px;
}
.teamMembers .teamNav button {
	width: 90% !important;
	font-size: 16px !important;
	margin-bottom: 10px !important;
}

/* 
	Team mebmers (Right panel)
*/
.teamMembers .commentsBox {
	width: 470px;
	background-color: #f6fafb;
	border: none !important;
	margin-bottom: 20px;
}
.teamMembers .nameDate {
	font-size: 18px;
}
.teamMembers .nameDate a {
	color: #000;
}
.teamMembers .label-role {
	background-color: #60257d;
}
.teamMembers .label {
	font-size: 12px !important;
}
.teamMembers .label-role a {
	position: relative;
	top: 1px;
	color: #ccc;
}
.teamMembers .label-role a:hover {
	color: #f4b81a;
}
.teamMembers .hr {
	margin-left: -40px;
}

.assignRoles button.right {
	margin-right: 105px !important;
}
.teamMembers .lookingFor {
	width: 450px !important;
	padding-bottom: 50px !important;
}


/********************
 *      Updates     *
 ********************/
.updateHr {
	margin-top: 80px;
}
.newUpdateSave {
	margin: 20px 80px 20px 0 !important;
}
.update {
	background-color: #f6fafb;
	padding: 10px 20px 20px 20px !important;
	-webkit-font-smoothing: antialiased;
	color: #4c4c4c;
	font-size: 17px;
	line-height: 30px;
}
.update h3 {
	font-size: 33px!important;
	color: #035084 !important;
	margin-bottom: 10px!important;
	font-family: Populaire!important;
	letter-spacing: 2px!important;
}
.editUpdate {
	font-size: 16px !important;
	margin-top: 30px !important;
	margin-right: 20px !important;
	width: 60px !important;
	height: 35px !important;
}
