/*		FIVE MAIN COLORS OF THE THEME
blue   : #035084 ;
purple : #3c0059 ;
yellow : #f4b81a ;
orange : #ff7a19 ; FFA54F ;
green  : #8ab23f ;
*/



/*
	UTILITY STYLES
*/	
@font-face { font-family: CFJackStory; src: url('../fonts/CFJackStory-Regular.ttf'); } 
@font-face { font-family: Populaire; src: url('../fonts/Populaire.otf'); } 
body {
	position: relative;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #F0F8FF !important;
	background-image: url('../images/bg.jpg');
	width: 100%;
	min-width: 1280px;
}
a, a:visited { 
	color: #729dff; 
	text-decoration: none !important; 
}
a:hover { 
	color: #f7941d; 
} 
.container {
	width: 1200px;
	margin: 0 auto;
}	
.right {
	float: right;
}
.froala-element {
	background-color: #ffffff !important;	
	border-color: rgb(117, 117, 121) !important;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.froala-editor { 
	border-color: rgb(117, 117, 121) !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.froala-editor .bttn-wrapper button {
	color: rgb(117, 117, 121)!important;
}
button:focus {
	outline: none !important;
}



/*
	Navegation bar
*/	
.navbarBackground{
	height: 55px;
	width: 100%;
	background-color: #035084; 
	position: absolute;
	top: 0;
	z-index: 0;
}
.navbar .left{
	position: absolute;
	}	
.navbar {
	height: 55px;
	color: #fff;
}
.navbar .navUl { 
	margin: 20px 0 0 0; 
	height: 35px;
	list-style-type: none; 
	} 
.navbar .navUl.left li, .navUl .li{  
	display: inline; 
	padding: .2em 1em; 
	} 
.navbar .navUl li a { 
	text-decoration: none; 
	color: #fff; 
	} 
.navbar .navUl li a:hover { 
	color: #e6e6e6; 
} 
.navbar .search input {
	padding-left: 10px;
	background-color: transparent;
	border: none;
	}
.navbar .search input:focus {
	outline: none;
	}
.navbar .search form {
	display: inline-block;
}
.navbar .right {
	margin-top: 0;
	height: 55px;
	position: relative;
	margin-right: 20px;
	float: right;
	z-index: 1;
}
.navProfileImg {
	margin-top: 5px;
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 5px;
	overflow: hidden;
}
.navbar img {
	min-width: 45px;
	min-height: 45px;
	width: 45px;
}
.navbar .dropDown {
	display: inline-block;
	height: 55px;
}
.navbar .down {
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: -13px;
}
.navbar .right .button{
	display: inline-block;
	margin-top: 7px !important;
	border-radius: 4px;
	padding: 10px 20px;
	background-color: #ff7a19;
	}
.navbar .right .button:hover{
	color:#fff;
	background-color: #FFA54F;
}
.navbar .logout {
	position: relative;
	top: -17px;
}


/*
	Content Layout
*/	
.boxLayout {
	margin: 50px auto 0 auto;
	padding-bottom: 50px;
	background-color: #fff;
	width: 975px;
	border-width: 20px;
	-moz-border-image: url("../images/border_thick.png") 174 167 151 128 stretch;
	-webkit-border-image: url("../images/border_thick.png") 174 167 151 128 stretch;
	-o-border-image: url("../images/border_thick.png") 174 167 151 128 stretch;
	border-image: url("../images/border_thick.png") 174 167 151 128 fill stretch;
}
.boxLayout:before,
.boxLayout:after {
  content:"";
  display:table;
}
.boxLayout:after {
  clear:both;
}
.boxLayout {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.boxLayout .left {
	width: 590px;
	padding-left: 20px;
	padding-right: 20px;
}
.boxLayout .rightPanel {
	width: 320px;
}


/* 
	Posting
*/
.post {
	padding: 10px 20px 70px 20px;
	margin-bottom: 10px;
	background-color: #f7fafa;
	width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
}
.post h3 {
	margin: 0 0 15px;
}
.post form {
	padding: 0 !important;
}
.commentsBox {
	padding: 20px 10px;
	border-bottom: 1px solid #d9d9de;
	margin-top: -1px;
}
.commentsBox:before,
.commentsBox:after {
  content:"";
  display:table;
}

.commentsBox:after {
  clear:both;
}
.commentsBox {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.commentsContainer {
	width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px); 
}
.photo {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 5px;
	overflow: hidden;
}
.photo img {
	min-width: 70px;
	min-height: 70px;
	width: 70px;
}
.team {
	display: inline-block;
	margin-right: 10px;
	font-size: 10px !important;
}
.nameDate {
	font-size: 16px;
	font-weight: 700;
}
.date {
	display: inline-block;
	margin-left: 10px;
	font-size: 13px;
	color: #999;
	font-weight: 500;
}
.comments {
	font-size: 15px;
}



/*
	Footer
*/	
.footer {
	margin-top: 200px;
	border-style: solid;
	border-width: 40px 0 0 0;
	-moz-border-image: url("../images/border_thick.png") 174 167 151 128 stretch;
	-webkit-border-image: url("../images/border_thick.png") 174 167 151 128 stretch;
	-o-border-image: url("../images/border_thick.png") 174 167 151 128 stretch;
	border-image: url("../images/border_thick.png") 174 167 151 128 fill stretch;
	background-color: #035084;
	background-image: url('../images/footer.png');
	background-size: 100%;
	background-position: right bottom;
	background-repeat:no-repeat;
	height: 250px;
	color: white;
}
.footer .LDItitle {
	font-family: 'CFJackStory', sans-serif;
	font-size: 30px;
	padding-left: 40px;
	margin: 0;
}
.footer .left {
	position: absolute;
}
.footer ul { 
	margin: 0; 
	padding-top: 20px; 
	list-style-type: none; 
	} 
.footer ul li {  
	display: inline; 
	} 
.footer ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	} 
.footer ul li a:hover { 
	color: #e6e6e6; 
	} 
.footer .copyright {
	color: #e3e1e1;
	font-size: 13px;
	margin-top: 25px;
	padding-left: 50px;
}
.footer .footerSearch{
	margin-left: 500px;
	margin-top: 65px;
}
.footer .footerSearch .row{
	width: 600px;
}

