
					  				  
/*
	UTILITY STYLES
*/				  				  
					  				  
.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }
a											{ outline: none; }


/*
	PAGE STRUCTURE
*/
#page-wrap 									{ 	width: 900px; position: relative; min-height: 500px;
											 	font-family: Arial, Helvetica, sans-serif; font-size: 10px;
												margin: 30px auto 0 auto;
												overflow: hidden;
												-webkit-box-shadow: #131313 0px 2px 10px;
												-moz-box-shadow: #131313 0px 3px 10px;
												box-shadow: #131313 0px 3px 10px;	
												border-radius: 10px;}


/*
	TYPOGRAPHY
*/
ul											{ list-style: square inside; }
a, a:visited								{ color: #729dff; text-decoration: none; }
.feature a:hover, .feature a:active			{ color: white; }
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; 
									  		  font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
	SLIDER
*/
.slider-wrap								{ 	border-radius: 10px;
												margin: 0px auto;
												padding: 0px;
												list-style: none;
												position: relative;
												width: 900px;
												height: 500px;
												overflow: hidden;	 }			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 900px; height: 500px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 900px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }
#movers-row div								{ float: right; }
#movers-row div a.cross-link 				{ float: right; }
.wrapper img								{ width: 900px; height: 500px;}
.photo-meta-data							{ background: url(../images/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; font-size: 13px; }
.photo-meta-data span 						{ font-size: 15px; }
.cross-link									{ display: block; width: 16px;
											  height: 16px;
											  border-radius: 8px; 
											  background-color: #b892c8; 
											  margin: 5px 5px 0 5px ;
											  position: relative;  z-index: 9999; 
											  top: -30px ;}
.active-thumb 								{ background-color: #b892c8; width: 90px; height: 100px;}





