# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# Other
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
composer.phar
.DS_Store
.DS_Store?
*/DS_Store
*/DS_Store?